# conditional statement

In [2]:
if(3>5):
    print("3 is greater than 5")
#3 is not greater than 5, but there is no else condition. so there will be no output

In [3]:
#simple if else statement
if(3>5):
    print("3 is greater than 5")
else:
    print("not greater")

not greater

In [4]:
username="gl"
pwd="pwd123"
if((username=="gl")&(pwd=="pwd123")):
    print("authenticate user")
else:
    print("failure")

authenticate user

In [6]:
username="obl"
pwd="pwd124"
if((username=="gl")&(pwd=="pwd123")):
    print("authenticate user")
else:
    print("failure")

failure

In [7]:
i=24
if(i%2==0):
    print("it is even")
else:
    print("it is odd")

it is even

In [8]:
i=27
if((i%3==0)&(i%9==0)):
    print("it is divisible by 3 and 9")
else:
    print("it is not divisible by 3 and 9")

it is divisible by 3 and 9

In [13]:
a=100
b=91
c=60
if(a>b and a>c):
    print("a is the largest")
elif(b>a and b>c):
    print("b is the largest")
else:
    print("c is the largest")

a is the largest

In [17]:
cust_cred=5000
if(cust_cred>=50000):
    print("diamond customer")
elif(cust_cred>=25000 and cust_cred<50000):
    print("gold customer")
elif(cust_cred>=10000 and cust_cred<25000):
    print("silver")
elif(10000>cust_cred>0):
    print("bronze")
else:
    print("enter amount greater than 0")

bronze

In [18]:
person=input("enter your name:")
print("hello",person)

enter your name:vanhs
hello vanhs

In [26]:
amt=int(input("enter the amount:"))
if(amt>=50000):
    print("diamond customer")
elif(amt>=25000 and amt<50000):
    print("gold customer")
elif(amt>=10000 and amt<25000):
    print("silver")
elif(10000>amt>0):
    print("bronze")
else:
    print("enter amount greater than 0")

enter the amount:20
bronze

# for loop

In [29]:
#simple for loop
a=[1,2,3,4,5]
print(a)
for i in a:
    print(i)

[1, 2, 3, 4, 5]
1
2
3
4
5

In [31]:
fruit=["apple","cherry","banana"]
for i in fruit:
    print(i)

apple
cherry
banana

In [33]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [34]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [35]:
for i in range(5,56):
    print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55

In [48]:
#get the list of all even number seprately and list of all odd number seprately
even=[]
odd=[]
for i in range(0,99):
    if(i%2==0):
        #print("this is even:",i)
        even.append(i)
    else:
        #print("this is odd:",i)
        odd.append(i)
        
print(even)
print(odd)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97]

In [45]:
sum(even)

2450

In [50]:
sum(odd)

2401

In [58]:
first=[]
for i in range(555,1112):
    if(i%5==0 and i%7==0):
        first.append(i)
        print(sum(first))

560
1155
1785
2450
3150
3885
4655
5460
6300
7175
8085
9030
10010
11025
12075
13160

In [55]:
print(first)

[560, 595, 630, 665, 700, 735, 770, 805, 840, 875, 910, 945, 980, 1015, 1050, 1085]

In [56]:
for i in range(0,10):
    print("i am learning python 10 times")

i am learning python 10 times
i am learning python 10 times
i am learning python 10 times
i am learning python 10 times
i am learning python 10 times
i am learning python 10 times
i am learning python 10 times
i am learning python 10 times
i am learning python 10 times
i am learning python 10 times

In [60]:
even=[]
odd=[]
k=0
for i in range(0,99):
    if(i%2==0):
        k=k+i
print(k)

2450

In [62]:
#if and break statement
for x in range(1,10):
    print("value of x:",x)
    if(x==4):
        break
print("i have exited the loop")

value of x: 1
value of x: 2
value of x: 3
value of x: 4
i have exited the loop

In [63]:
#if and continue statement
for x in range(1,10):
    print("value of x:",x)
    if(x==4):
        print("i have found")
    continue

value of x: 1
value of x: 2
value of x: 3
value of x: 4
i have found
value of x: 5
value of x: 6
value of x: 7
value of x: 8
value of x: 9

In [64]:
sum(range(1,51))

1275

# while loop

In [65]:
#while loop gets executed until the condition is satisfied
k=0
while k<5:
    print(k)
    k+=1

0
1
2
3
4

In [3]:
c=0
while c<5:
    print(c)
    c+=1
    if(c==3):
        break

0
1
2
loop is break